<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sinh viên</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="form-card">
        <h2>Thêm sinh viên</h2>

        <form id="studentForm">
            <div class="field">
                <label for="name">Tên</label>
                <input id="name" type="text" placeholder="Từ xuân đạt" required>
            </div>

            <div class="field">
                <label for="age">Tuổi</label>
                <input id="age" type="number" placeholder="20" required>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="d@gmail.com" required>
            </div>

            <div class="field">
                <label for="address">Địa chỉ</label>
                <input id="address" type="text" placeholder="Hà Nội" required>
            </div>

            <div class="field">
                <label for="phone">Số điện thoại</label>
                <input id="phone" type="text" placeholder="123456789">
            </div>

            <button type="submit" id="saveBtn" class="primary-btn">Lưu</button>
        </form>
    </div>

    <div class="table-card">
        <h2>Danh sách sinh viên</h2>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Phone</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody id="studentTableBody"></tbody>
        </table>
    </div>
</div>

<script src="/js/student.js"></script>
</body>
</html>